.orderButton {
    margin-right: 10px;
    border-radius: 10px;
    background-color: skyblue;
}

.productList {
    list-style-type: '🍭';
}
.productList li {
    padding-left: 5px;
}

.kategories {
    list-style-type: '🍩';
}
.kategories li {
    padding-left: 5px;
}