.myOrders {
    list-style-type: '🍪';
}
.myOrders li {
    padding-left: 5px;
}

.customerList {
    list-style-type: '🤹🏻‍♀️';
}
.customerList li{
    padding-left: 5px;
}


.customerTable {
    background-color: rgb(194, 238, 194);
    border: 1px solid black;
    padding: 5px;
    margin: 5px 0px 30px 20px;
    border-collapse: collapse;
}
.customerTable td {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}
.customerTable tr:nth-child(odd) {
    padding: 5px;
    border: 1px solid black;
    text-align: center;
    background-color: lightgreen;
}
.customerTable th {
    border-collapse: collapse;
    padding: 5px;
    border: 1px solid black;
    background-color: lightgray;
}
